<div class="homepage_container">

  <section class="textbox">
    <form>
      <input class="address" type="textbox" placeholder="Location" value="">
     </form> 
  </section>

  <div class="form_button col-lg-12">
    <input type="button" class="roll_btn btn btn-primary btn-lg" value="Roll" form="preference">
    <input type="button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="filter_btn btn btn-primary btn-lg" value="Filter">
  </div>



  <div class="result_floating_box">
  </div>
  
  <section class="floating_filter_box">
  </section>
</div>

<div class=" col-lg-12 collapse filter_box" id="collapseExample">
</div>



