
<header class="masthead">
  <div class="container">
    <div class="header-content-center">
      <div class="mx-auto">
        <h1 class="text-header mb-5">Press Roll to get a Random Restaurant</h1>

        <form class="form-input-size"id="form-user_preference">
          <div class="form-group">
            <input class="form-control form-user_preference form-user-location" type="text" placeholder="Location" value="">
            
            <div class="input-group">
              <select class="custom-select form-control form-user_preference form-user-sortby" form="form-user_preference">
                <option class="form-option-width-size" value="">Sort By (Optional)</option> 
                <option class="form-option-width-size" value="best_match">Best Match</option>
                <option class="form-option-width-size" value="rating">Highest Rated</option>
                <option class="form-option-width-size" value="review_count">Most Reviewed</option>
              </select>
            </div>
        
            <div class="input-group">
              <select class="custom-select form-control form-user_preference form-user-distance" form="form-user_preference">
                <option class="form-option-width-size" value="">Distance (Optional)</option> 
                <option class="form-option-width-size" value="Driving">Driving</option>
                <option class="form-option-width-size" value="Biking">Biking</option>
                <option class="form-option-width-size" value="Best_Walking">Best Walking</option>
                <option class="form-option-width-size" value="Within_4_blocks">Within 4 blocks</option>
              </select>
            </div>
            
            <div class="input-group">
              <select class=" custom-select form-control form-user_preference form-user-price" form="form-user_preference">
                <option class="form-option-width-size" value="">Price (Optional)</option> 
                <option class="form-option-width-size" value="1">$</option>
                <option class="form-option-width-size" value="2">$$</option>
                <option class="form-option-width-size" value="3">$$$</option>
                <option class="form-option-width-size" value="4">$$$$</option>
              </select>
            </div> 
            <br>
            <input class="button-submit btn btn-primary button-submit-size" type="submit" value="ROLL!">

        </form>
      </div>
    </div>
  </div>
</header>
