<section class='creator text-center bg-light'>
  <div class='container'>
    <h2 class='mb-5'>The Mastermind behind the site</h2>
    <div class='row'>
      <div class='col-lg-6'>
        <div class='creator-item mx-auto mb-5 mb-lg-0'>
          <img class='img-fluid rounded-circle mb-3' src='https://avatars0.githubusercontent.com/u/18519996?s=460&v=4'>
          <h4>Randall H.</h4>
          <form action='https://github.com/RGHuynh'>
            <input class="button-submit btn btn-primary button-submit-size" type='submit' value='Github'>
          </form>
        </div> 
      </div>

      <div class='col-lg-6'>
        <div class='creator-item mx-auto mb-5 mb-lg-0'>
          <img class='img-fluid rounded-circle mb-3' src='https://avatars1.githubusercontent.com/u/5446338?s=460&v=4'>
          <h4>Kevin D.</h4>
          <form action='https://github.com/KevinDiaz2990'>
            <input class="button-submit btn btn-primary button-submit-size" type='submit' value='Github'>
          </form>
        </div> 
      </div>
    </div>
  </div>
</section>