<section class="showcase bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 order-lg-2 showcase-img map" id="googleMap">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h1><%= @result["name"] %></h1>
        <h4><%= @result["price"] %></h4>
        <% @result['rating'].to_i.times do |star| %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <br>
        <form class="form-yelpsite-margin"action=<%= @result['url'] %>>
          <input class="button-submit btn btn-primary button-submit-size" type='submit' value="More Info">
        </form>
      </div>
    </div>  
  </div>
</section>