<section class="feature-item">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="feature-item-objects mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>succsess</h3> 
          <p> yo what </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-item-objects mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>succsess</h3> 
          <p> yo what </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-item-objects mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>succsess</h3> 
          <p> yo what </p>
        </div>
      </div>
    </div>
  </div>
</section>