/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @media (min-width: 576px) { 

  .row{
    overflow: hidden;
  }

  .application_layout{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 166vh;
    filter: grayscale(20%);
    height: 94vh;
  }

  .homepage_navbar{
    margin-top: 46px;
    font-size: 19px;
    width: 100%;
    text-align: center;
  }

  .design_box, .design_logo_box {
    background: rgba(145, 185, 208, 0.6);
  }

  .design_box {
    width: 300px;
    margin: auto;
  }

  .navigation_list {
    display: inline-block;
    padding-left: 10.5px;
    padding-right: 10.5px;
  }

  .navigation_ul_list{
    margin: 0px;
  }

  .navigation_ul_list {
    padding: 0px;
  }

  .header-nav{
    text-align: center;
    height: 442px;
    padding-top: 235px;
  }



  .layout_footer{
    height: 85px;
    background-color: #15100C;
  }

}



@media (max-width: 906px) and (max-height: 660px){
  .application_layout{
    background-size: 941px;
  }
}

@media (min-width: 906px){
  .application_layout{
    background-size: 203%;
  }
}




//   .layout_nav{
//     color: white !important;
//   }



//   .layout_footer{
//     border: 1px solid black;
//     background-color: #474548;
//     height: 150px;
//   }

//   .logo {
//     height: auto;
//     width: 400px;
//   }



// @media (min-height: 810px){
//   .application_layout{
//     height: 1000px;
//     background-size: 100%;
//   }





// @media (max-width: 1503px){
//   .application_layout{
//     background-size: 2000px;
//   }
// }

