/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @media (min-width: 576px) { 

  .row{
    overflow: hidden;
  }

  .design_box, .design_logo_box {
    background: rgba(145, 185, 208, 0.6);
  }

  .design_box {
    width: 300px;
    margin: auto;
  }

  .navigation_list {
    display: inline-block;
    padding-left: 10.5px;
    padding-right: 10.5px;
  }

  .navigation_ul_list{
    margin: 0px;
  }

  .navigation_ul_list {
    padding: 0px;
  }

}


header.masthead{
  position: relative;
  background-color: #343a40;
  background-image: image-url('beverages-brunch-cocktail-5317.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.text-header{
  color: white;
}

@media (min-width: 768px){
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.header-content-center{
  text-align: center;
}

.form-user_preference{
  height: 40px!important;
}

.form-option-width-size{
  width: 30px;
}