/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @media (min-width: 576px) { 

  .application_layout{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1539px;
    filter: grayscale(20%);
    height: 940px;
  }

  .homepage_navbar{
    margin-top: 46px;
    font-size: 19px;
    width: 100%;
    text-align: center;
  }

  .design_box {
    background-color: #91B9D0;
    width: 300px;
    margin: auto;
  }

  .navigation_list {
    display: inline-block;
    padding-left: 10.5px;
    padding-right: 10.5px;
  }

  .navigation_ul_list {
    margin: 0px;
    padding: 0px;
  }

}

//   .layout_nav{
//     color: white !important;
//   }

//   .header-nav{
//     text-align: center;
//   }

//   .layout_footer{
//     border: 1px solid black;
//     background-color: #474548;
//     height: 150px;
//   }

//   .logo {
//     height: auto;
//     width: 400px;
//   }

//   .name_logo {
//     font-family: 'East Sea Dokdo', cursive;
//     font-size: 100px; 
//     margin: 0px;
//     height: 68px;
//     color: black;
//   }
// }

// @media (min-height: 810px){
//   .application_layout{
//     height: 1000px;
//     background-size: 100%;
//   }

//   .name_logo {
//     font-size: 200px;
//     height: 144px;
//   }

//   .layout_footer{
//     height: 304px;
//   }
// }

// @media (max-width: 1503px){
//   .application_layout{
//     background-size: 2000px;
//   }
// }

