// Place all the styles related to the filter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 576px) { 

  .filter_box{
    width: 100%;
    color: #1f262b; 
  }

  .filter_hide{
    display: none;
  }

  .form-check-label{
    margin-left: 17px;
    font-size: 12px;
  }
  
  .filter_label{
    margin: 0;
    margin-left: 11px;
    font-size: 14px;
  }

  .filter_selector{
    display: inline-block;
    vertical-align: top;
  }
  
  .filter_container{
    margin: auto;
    background-color: #323430;
    color: #f3e7d1;
    width: 570px;
    padding-left: 101px;
    padding-right: 101px;
  }



}