// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floating_filter_box{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 238px;
	display: none;
}

@media (min-width: 576px){
	.textbox{
		margin-bottom: 23px;
	}
	.address {
		width: 400px;
	}
	
	.btn{
		display: inline-block;
	}

	.form_button, .textbox, .homepage_header{
		text-align: center;
	}

	.homepage_container{
		color: white;
		width: 100%;
		padding-top: 100px;
		height: 379px;
		position: absolute;
		top: 300px;
	}

}

@media (min-height: 810px){
	.homepage_container{
		top: 595px;
	}
}



