// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floating_filter_box{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 238px;
	display: none;
}

@media (min-width: 576px){

	.textbox{
		margin-bottom: 51px;
	}

	.address {
		width: 270px;
	}
	
	.btn{
		display: inline-block;
		width: 91px;
	}

	.roll_btn, .filter_btn {
		margin-left: 22px;
		margin-right: 22px;
	}

	.form_button, .textbox, .homepage_header{
		text-align: center;
	}

	.homepage_container{
		color: white;
		width: 100%;
		position: absolute;
		top: 548px;
	}

}

// @media (min-height: 810px){
// 	.homepage_container{
// 		top: 595px;
// 	}
// }



