// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rest_title{
  font-weight: bold;
  font-size: 19;
}

.restaurant_pic{
  width: 229px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.description {
	font-size: 12px;
}

// .map {
// 	height: 200px;
// }

.comments {
  width: 343px;
}

.info {
  overflow: auto;
  width: 348px;
  height: 220px;
  background-color: #CBEDFF;
  color: black;
}
 
.pic {
	background-color: #030f0f;
  height: auto;
	width: 220px;
	position: relative;
}

.image {
	background-color: #030f0f;
  overflow: hidden;
  width: 220px;
  height: 220px;
}

.result_box{
  margin: auto;
  width: 576px;
}

.image, .info {
  display: inline-block;
  vertical-align: top;
}

