// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rest_text{
	font-weight: bold;
}

.result_box {
	position: relative;
	margin-left: auto;
	padding: 0 !important;
	margin: auto;
	background-color: white;
	height: 464px;
	top: -299px;
}

.image, .info {
	display: inline-block;
	vertical-align: top;
}

.restaurant_pic{
	max-width: 90%;
	margin: auto;
	max-height: 472px;
}

.description {
	margin: 0px;
}

.map {
	height: 200px;
}

.comments {
	margin-top: 20px;
}

.result_title, .description {
	color: black;
}

.info {
	overflow: auto;
}
 
.pic {
	background-color: #030f0f;
	min-height: 100%;
	max-width: 100%;
	text-align: center;
}

.image {
	background-color: #030f0f;
	overflow: hidden;
}

@media(min-width: 576px){
	.result_box {
		width: 400px;
	}

	.des{
		padding-left: 30px;
	}

	.image {
		height: 287px;
	}
	
	.pic {
		background-color: #030f0f;
		min-height: 100%;
		max-width: 100%;
		text-align: center;
	}
	
	.info {
		height: 177px;
	}
	
	
	.result_title{
		font-size: 18px;
	}

	.description {
		font-size: 13px;
	}
}

@media(min-width: 1015px){
	.result_box {
		width: 1000px;
	}

	.image, .info {
		height: 100%;
		padding: 0px;
		display: inline-block;
		vertical-align: top;
	}
	
	.image {
		width: 50%;
	}
		
	.info {
		padding: 30px;
		width: 49%;
	}
}


@media (min-height: 810px){
	.result_box {
		height: 500px;
		width: 1296px;
		top: -532px;
	}
	
}

