<div class="filter_box" >
  <div class="filter_container">
    <form action="results/index" method="get" id="preference">
      <div class="filter_selector">
        <div class="form-check">
          <h6>Sort By</h6>
          <input class="form-check-input" type="checkbox" value="best_match" name="sort_by">
          <label class="form-check-label">
            Best Match
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="rating" name="sort_by">
          <label class="form-check-label">
            Highest Rated
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="review_count" name="sort_by">
          <label class="form-check-label">
            Most Reviewed
          </label>
        </div>
      </div>

      <div class="filter_selector">
        <div class="form-check">
          <h6>Distance</h6>
          <input class="form-check-input" type="checkbox" value="" name="distance[]">
          <label class="form-check-label">
            Bird's-eye View
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="distance[]">
          <label class="form-check-label">
            Driving
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="distance[]">
          <label class="form-check-label">
            Biking
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="distance[]">
          <label class="form-check-label">
            Walking
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="distance[]">
          <label class="form-check-label">
            Within 4 blocks
          </label>
        </div>
      </div>

      <div class="filter_selector">
        <div class="form-check">
          <h6>Price</h6>
          <input class="form-check-input" type="checkbox" value="1" name="price[]">
          <label class="form-check-label">
            $
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="2" name="price[]">
          <label class="form-check-label">
            $$
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="3" name="price[]">
          <label class="form-check-label">
            $$$
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="4" name="price[]">
          <label class="form-check-label">
            $$$$
          </label>
        </div>
      </div>
    </form>
  </div>
</div>