<div class="header-nav col-lg col-md col-sm">
  <img class="img-logo" src="https://image.flaticon.com/icons/png/512/55/55583.png" alt="Smiley face" height="60" width="60">
</div>
<div class="nav-about d-none d-sm-block col-lg col-md col-sm">
  <a href="https://www.w3schools.com">About</a>
</div>